//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;
//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;
$base-font-size: 16px;
$base-font-family: 'Noto Sans Japanese';
$base-font-weight: 700;
$base-font-color: #333;
$base-background-color: #fff;


// Size
$max-width: 800px;

// Color