//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;
//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;
$base-font-size: 13px;
$base-font-family: sans-serif;
$base-font-weight: normal;
$base-font-color: #333;
$base-background-color: #fff;


// Size
$max-width: 800px;

// Color