#__bs_notify__ {
	display: none;
	opacity: 0;
}

@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'modules/form';
@import 'modules/btn';
@import 'modules/header-nav';
@import 'modules/searched-list';
@import 'modules/search-words';

.centering {
	display: block;
	margin: 0 auto;
	text-align: center;
}

html {
	background-color: #fff;
	@include media(tb) {
		background-color: #f1f1f1;
	}
}

body {
	width: 100%;
	// height: 100vh;
	min-width: 900px;
	min-height: 100vh;
	@include media(tb) {
		min-width: 1px;
		min-height: 1px;
	}
}

header {
	width: 100%;
	&.index {
		display: block;
		.header-nav {
			float: right;
			margin-top: 12px;
			margin-right: 24px;
		}
		@include media(tb) {
			width: 100%;
			min-width: 1px;
		}
	}
	&.searched {
		display: block;
		background-color: #f1f1f1;
		border-bottom: 1px solid #e5e5e5;
		padding: 8px 0;
		.header-logo {
			display: inline-block;
			margin-left: 12px;
			vertical-align: middle;
			@include media(tb) {
				display: block;
				text-align: center;
				padding: 20px 0 15px;
				margin: 0;
			}
		}
		.header-form {
			display: inline-block;
			margin-left: 16px;
			vertical-align: middle;
			@include media(tb) {
				margin: 0;
				width: 100%;
			}
		}
		.header-nav {
			float: right;
			margin-top: 4px;
			@include media(tb) {
				display: none;
			}
		}
		@include media(tb) {
			width: 100%;
			box-sizing: border-box;
			padding: 0 10px;
			border: 0;
		}
	}
}

main {
	background-color: #fff;
	@include media(tb) {
		padding: 0 10px;
	}
	&.index {
		.main-logo {
			display: block;
			width: 255px;
			margin: 0 auto;
			padding: 150px 0 30px;
			@include media(tb) {
				padding-top: 120px;
				width: 35%;
			}
			@include media(sp) {
				padding-top: 80px;
				width: 42%;
			}
		}

		.btn-wrapper {
			margin-top: 50px;
			@include media(tb) {
				display: none;
			}
		}
	}
	&.searched {
		@include media(tb) {
			padding: 0 10px;
			background-color: #f1f1f1;
		}
		.search-type {
			display: inline-block;
			padding-left: 126px;
			margin-left: 1px;
			li {
				display: inline-block;
				padding: 0 14px;
				&.active {
					border-bottom: 3px solid #4285f4;
					font-weight: bold;
					a {
						@include media(tb) {
							color: #4285F4;
						}
					}
					@include media(tb) {
						border-bottom-width: 2px;
					}
				}
				a {
					display: inline-block;
					color: #777;
					padding: 22px 0;
					font-size: 13px;
					&:hover {
						color: #222;
						text-decoration: none;
					}
					@include media(tb) {
						font-size: 12px;
						padding: 12px 0;
					}
				}
			}
			@include media(tb) {
				width: 100%;
				background-color: #f8f8f8;
				box-sizing: border-box;
				padding-left: 0;
				box-shadow: 0 1px 2px rgba(0,0,0,.2);
				border-radius: 0 0 2px 2px;
			}
		}
		.photos {
			padding: 8px;
			background-color: #f1f1f1;
			li {
				display: inline-block;
				height: 200px;
				img {
					background-color: #fff;
				}
				@include media(tb) {
					margin: 1px !important;
				}
			}
			@include media(tb) {
				padding: 10px 0 10px 2px;
				margin: -4px;
			}
		}
	}
	&.kid {
		.mv {
			width: 100%;
			height: 300px;
			background: center center/cover no-repeat #eee;
			&.page { background-image: url('./images/page/mv.png'); }
			&.doodle { background-image: url('./images/doodle/mv.png'); }
			&.ad { background-image: url('./images/ad/mv.png'); }
			&.member { background-image: url('./images/member/mv.png'); }
		}
		.content {
			width: 900px;
			margin: 0 auto;
			h2 {
				font-size: 24px;
				font-weight: bold;
				margin-top: 36px;
			}
			p {
				font-size: 15px;
				line-height: 1.6em;
				text-align: justify;
				margin-top: 12px;
			}
			a {
				color: #009cdc;
				font-size: 15px;
				&:hover {
					color: #1465ff;
					text-decoration: none;
				}
			}
		}
	}
}

footer {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 20px;
	background-color: #f2f2f2;	
	border-top: 1px solid #e4e4e4;
	position: fixed;
	bottom: 0;
	.footer-menu {
		li {
			display: inline-block;
			a {
				color: #666;
				font-size: 13px;
				line-height: 40px;
			}
			&+li {
				margin-left: 25px;
			}
		}
		&.left-menu {
			float: left;
		}
		&.right-menu {
			float: right;
		}
		@include media(sp) {
			float: none !important;
			text-align: center;
		}
	}

	&.searched {
		position: static;
		padding: 30px 0 20px 126px;
		height: auto;
		.location {
			display: block;
			color: #aaa;
			margin-bottom: 20px;
			&:before {
				content: '';
				display: inline-block;
				position: relative;
				margin-right: 5px;
				top: 1px;
				width: 11px;
				height: 11px;
				background-color: #aaa;
				border-radius: 50%;
			}
			@include media(tb) {
				text-align: center;
				margin-top: 28px;
			}
		}
		ul {
			li {
				display: inline-block;
				margin-right: 30px;
				a {
					color: #777;
					&:hover {
						text-decoration: none;
						color: #333;
					}
				}
			}
			@include media(tb) {
				text-align: center;
				line-height: 30px;
			}
		}
		@include media(tb) {
			padding: 0 10px;
		}
	}
}