@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';

/* 以下にスタイルを記述
************************* */


header {
	width: 1000px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	.home {
		float: left;
	}

	.nav {
		float: right;
		.nav-item {
			display: inline-block;
		}
	}
}

main {
	height: 100vh;
	text-align: center;
	position: relative;
	.mv,
	.contents {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);

		.wanted {
			font-size: 32px;
		}
		.wanted-jp {
			font-size: 77px;
			margin-top: 20px;
		}
	}
}

footer {
	height: 300px;
	background-color: gray;
	text-align: center;
}