.form {
	display: block;
	width: 580px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	font-size: 0;
	.form-item {
		display: inline-block;
		vertical-align: middle;
		&.input {
			font-size: 16px;
			width: calc( 100% - 50px );
			height: 26px;
			padding: 5px 0 5px 10px;
			margin-right: 10px;
			border: none;
			&:focus {
				outline: 0;
			}
		}
		&.icon {
			max-width: 20px;
			max-height: 20px;
			margin-right: 10px;
		}
	}
	&:hover {
		border: 1px solid #b9b9b9;
		border-top-color: #a0a0a0;
	}
	@include media(sp) {
		width: 100%;
	}
}
