.form {
	display: block;
	width: 580px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	font-size: 0;
	.form-item {
		display: inline-block;
		vertical-align: middle;
		width: calc( 100% - 60px );
		height: 26px;
		padding: 5px 0 5px 10px;
		line-height: 27px;
		font-size: 16px;
		margin-right: 10px;
		border: none;
		cursor: text;
		&.icon {
			max-width: 20px;
			max-height: 20px;
			margin-right: 10px;
		}
	}
	&:hover {
		border: 1px solid #b9b9b9;
		border-top-color: #a0a0a0;
	}
	@include media(tb) {
		width: 100%;
	}
}
