.header-nav {
	height: 34px; // これ基準になる
	div {
		display: inline-block;
		vertical-align: middle;
		& + div {
			margin-left: 15px;
		}
		img {
			width: auto;
			height: 100%;
		}
		&.application {
			height: 49%;
		}
		&.notification {
			height: 57%;
		}
		&.portrait {
			height: 100%;
			img {
				border-radius: 50%;
			}
		}
	}
}