.words {
	position: absolute;
	width: 100%;
	.word-list {
		background-color: #fff;
		width: 580px;
		padding: 3px 0;
		border: 1px solid #ccc;
		border-top: none;
		max-height: 135px;
		overflow: scroll;
		position: absolute;
		top: 0;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		li {
			padding: 0 10px;
			line-height: 22px;
			font-size: 16px;
			&:hover {
				background-color: #EEEEEE;
			}
		}
		@include media(sp) {
			width: 94%;
		}
	}
}