.words {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-291px);
	.word-list {
		background-color: #fff;
		width: 580px;
		border: 1px solid #ccc;
		border-top: none;
		max-height: 135px;
		overflow: scroll;
		position: absolute;
		top: 0;
		li {
			padding: 7px 10px;
			font-size: 16px;
			&:hover {
				background-color: orange;
			}
		}
	}
}