<nav class="header-nav">
	<div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
	<div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
	<div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
</nav>
<ul class="header-nav-applications">
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/semmu.gif"></li>
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/doodle.png"></li>
</ul>
</header>