<nav class="header-nav">
	<div class="application js-nav"><img src="./images/header/menu.png" alt=""></div>
	<div class="notification"><img src="./images/header/bell.png" alt=""></div>
	<div class="portrait"><img src="./images/header/rider.jpg" alt=""></div>
</nav>
<ul class="header-nav-applications js-nav-application">
	<li><a href="" target="_blank"><img src="./images/doodle/takeda.gif"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/semmu.gif"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/ikebe.png"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/cheese.png"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/mei.png"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/mun.png"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/eguchi.png"></a></li>
	<li><a href="" target="_blank"><img src="./images/doodle/paul.png"></a></li>
</ul>
