<nav class="header-nav">
	<div class="application js-nav"><img src="./images/header/menu.png" alt=""></div>
	<div class="notification"><img src="./images/header/bell.png" alt=""></div>
	<div class="portrait"><img src="./images/header/rider.jpg" alt=""></div>
</nav>
<ul class="header-nav-applications js-nav-application">
	<li><img src="./images/doodle/doodle.png"></li>
	<li><img src="./images/doodle/takeda.png"></li>
	<li><img src="./images/doodle/semmu.gif"></li>
	<li><img src="./images/doodle/ikebe.png"></li>
	<li><img src="./images/doodle/cheese.png"></li>
	<li><img src="./images/doodle/mei.png"></li>
	<li><img src="./images/doodle/mun.png"></li>
	<li><img src="./images/doodle/eguchi.png"></li>
	<li><img src="./images/doodle/paul.png"></li>
</ul>
