<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>みんなの作品まとめ｜Doodle｜卓展2016</title>
<link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjapanese.css">
<link rel="stylesheet" href="./css/style.css">
<meta property="og:title" content="Doodle｜2016年度卓展">
<meta property="og:type" content="website">
<meta property="og:url" content="http://doooodle.org">
<meta property="og:image" content="http://doooodle.org/images/common/ogimage.png">
<meta property="og:description" content="名古屋市立大学芸術工学部 2016年度卓展のDoodle。Googleの遊び心を大切にし、取り入れたWeb制作を行いました。">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mtmtkzm">
<meta name="twitter:creator" content="@mtmtkzm">
<meta name="twitter:title" content="Doodle">
<meta name="twitter:description" content="名古屋市立大学芸術工学部 2016年度卓展のDoodle。Googleの遊び心を大切にし、取り入れたWeb制作を行いました。">
<meta name="twitter:image:src" content="http://doooodle.org/images/common/ogimage.png">
<link rel="canonical" href="http://doooodle.org">

<!-- todo: アナリティクスいれる！ -->
