<footer class="footer searched clearfix">
	<span class="location">愛知県名古屋市千種区北千種2-1-10</span>
	<ul>
		<li><a href="./page.html">このサイトについて</a></li>
		<li><a href="./doodle.html">Doodleについて</a></li>
		<li><a href="http://taku-ten.com/" target="_blank">卓展</a></li>
		<li><a href="./member.html">メンバー</a></li>
		<li><a href="./ad.html">広告</a></li>
	</ul>
</footer>
