<footer class="footer searched clearfix">
	<span class="location">愛知県名古屋市千種区北千種2-1-10</span>
	<ul>
		<li><a href="">このサイトについて</a></li>
		<li><a href="">Doodleについて</a></li>
		<li><a href="">卓展</a></li>
		<li><a href="">広告</a></li>
		<li><a href="">メンバー</a></li>
	</ul>
</footer>
