<footer class="footer searched clearfix">
	<a class="location" target="_blank" href="https://www.google.com/maps/place/%E6%84%9B%E7%9F%A5%E7%9C%8C%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E5%8D%83%E7%A8%AE%E5%8C%BA%E5%8C%97%E5%8D%83%E7%A8%AE2-1-10">愛知県名古屋市千種区北千種2-1-10</a>
	<ul>
		<li><a href="./page.html">このサイトについて</a></li>
		<li><a href="./doodle.html">Doodleについて</a></li>
		<li><a href="./member.html">メンバー</a></li>
		<li><a href="http://taku-ten.com/" target="_blank">卓展</a></li>
		<li><a href="./ad.html">広告</a></li>
	</ul>
</footer>
