<div class="words js-words" style="display: none">
	<ul class="word-list js-word-list">
		<li data-word="senmu">UR_RIGHT_LAB.</li>
		<li data-word="es">因縁の対決</li>
		<li data-word="ikebe">いけべのportfolio</li>
		<li data-word="mei">mei's PhotoGallery</li>
		<li data-word="cheese">ちーずランキング！</li>
		<li data-word="mun">探検UFO</li>
		<li data-word="takeda">TAKEDA SNS</li>
	</ul>
</div>
