<div class="words js-words" style="display: none">
	<ul class="word-list js-word-list">
		<li>いけべまさあき</li>
		<li>せんむ</li>
		<li>さけるチーズ</li>
		<li>えぐち</li>
		<li>うえだすなお</li>
		<li>むん</li>
		<li>めい</li>
		<li>宇宙飛行士</li>
	</ul>
</div>
