<div class="words js-words" style="display: none">
	<ul class="word-list js-word-list">
		<li data-word="ikebe">いけべまさあき</li>
		<li data-word="senmu">せんむ</li>
		<li data-word="cheese">さけるチーズ</li>
		<li data-word="es">えぐち＆すなお</li>
		<li data-word="mun">むん</li>
		<li data-word="mei">めい</li>
		<li data-word="takeda">宇宙飛行士</li>
	</ul>
</div>
