<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">	
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<nav class="header-nav">
			<div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
			<div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
			<div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
		</nav>
	</header>
	<main class="kid ad">
		<div class="mv"></div>
		<section class="content">
			<h2>広告</h2>
			<p>Doodle卓に関わる何かのリンクを掲載しています。併せてご覧ください。</p>

			<h3>芸工祭2016</h3>
			<a href="http://geikousai-ncu.com" target="_blank">http://geikousai-ncu.com</a>
			<p>
				名古屋市立大学芸術工学部の学祭「芸工祭」のWebサイトです。2016年度は、10月29日-30日に開催されます。今年のテーマは「HOLIC」です。
			</p>
			<blockquote>
				HOLICとは、接尾語で、意味は、〜中毒です。alco-holic（アルコール中毒）のように単語の後につけることで意味をなします。中毒とはつまり熱中できたり、夢中になれるということ。この芸工祭に来ていただいた皆様に何かに熱狂的に楽しんでいただいたり、夢中になれるような、そんな芸工祭にしたい！という思いからこのテーマに決めました。この芸工祭自体が、皆様の接尾語になれたら幸いです！
				<a href="http://geikousai-ncu.com/" target="_blank">http://geikousai-ncu.com/</a>
			</blockquote>
			<p>みなさまお誘いの上、ぜひお越しください！</p>

			<h3>ライダーのポートフォリオサイト</h3>
			<a href="http://mtmtkzm.com" target="_blank">http://mtmtkzm.com</a>
			<p>Doodleの卓長ライダーのポートフォリオサイトです。</p>
			<p>Web系の学生団体UNITEDとOthloTechで活動したり、Web制作会社LIGでアルバイトもしています。</p>
	
			<h3>卒業・修了制作展</h3>
			<a href="http://www.sda.nagoya-cu.ac.jp/katsudou/sotsuten/2016/">http://www.sda.nagoya-cu.ac.jp/katsudou/sotsuten/2016/</a>（※）※これは2015年度のWebサイトです。
			<p>2016年度の、名古屋市立大学 芸術工学部 芸術工学研究科の卒業・修了制作展です。</p>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
