<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<% include _header-nav %>
	</header>
	<main class="kid ad">
		<div class="mv"></div>
		<section class="content">
			<h2>広告</h2>
			<p>Doodle卓に関わるリンク先を掲載しています。</p>

			<h3>卓展2016「GLYPH」</h3>
			<a href="http://taku-ten.com/glyph">http://taku-ten.com/glyph</a>
			<blockquote>
				文字遊びを楽しむ。文字に関連した作品を作る卓です。タイポグラフィやフォント制作に関することを勉強していきます。初めに全員で同じテーマのもと、自由にアイデア出しを行い一つのフォントを制作します。最終制作物にはテーマなどは設けず、自由に個人制作を行ってもらいます。また、展示の空間デザインや卓のポートフォリオ制作も行う予定です。
				<a href="http://taku-ten.com#glyph" target="_blank">http://taku-ten.com</a>
			</blockquote>
			<p>同じく、卓展2016の卓のひとつです。</p>

			<h3>芸工祭2016</h3>
			<a href="http://geikousai-ncu.com" target="_blank">http://geikousai-ncu.com</a>
			<p>
				名古屋市立大学芸術工学部の学祭「芸工祭」のWebサイトです。2016年度は、10月29日-30日に開催されます。今年のテーマは「HOLIC」です。
			</p>
			<blockquote>
				HOLICとは、接尾語で、意味は、〜中毒です。alco-holic（アルコール中毒）のように単語の後につけることで意味をなします。中毒とはつまり熱中できたり、夢中になれるということ。この芸工祭に来ていただいた皆様に何かに熱狂的に楽しんでいただいたり、夢中になれるような、そんな芸工祭にしたい！という思いからこのテーマに決めました。この芸工祭自体が、皆様の接尾語になれたら幸いです！
				<a href="http://geikousai-ncu.com/" target="_blank">http://geikousai-ncu.com/</a>
			</blockquote>
			<p>みなさまお誘いの上、ぜひお越しください！</p>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
