<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<a class="header-logo" href="/"></a>
		<% include _header-nav %>
	</header>
	<main class="kid doodle">
		<div class="mv"></div>
		<section class="content">
			<h2>Doodle卓について</h2>
			<p>Doodle卓は、名古屋市立大学芸術工学部で開催される<a href="http://taku-ten.com" target="_blank">卓展2016</a>の卓のひとつで、遊び心を大切にし取り入れたWeb制作を行います。</p>

			<h3>名前の由来</h3>
			<p>Doodleとはそもそも、</p>
			<blockquote>
				Doodle（ドゥードゥルと読みます）は、祝日や記念日、有名な画家や先駆者、科学者の生誕などを祝うため、斬新で楽しく、また時には自由な手法でGoogleのロゴマークをアレンジしたものです。
				<a href="http://google.co.jp/doodles/" target="_blank">http://google.co.jp/doodles/</a>
			</blockquote>
			<p>
				Doodle卓では、これをGoogleの遊び心の象徴と捉え、卓のネーミングを「Doodle」としました。
			</p>
			<h3>活動メンバー</h3>
			<p><a href="./member.html">メンバー一覧</a></p>
			<p>Doodle卓のメンバーはこちらからご覧ください。</p>
			
			<h2>Doodle一覧</h2>
			<p>Doodle卓のみんなに、Doodleを制作してもらいました。</p>
			<ul class="doodles">
				<li><img src="./images/doodle/semmu.gif"></li>
				<li><img src="./images/doodle/ikebe.png"></li>
				<li><img src="./images/doodle/cheese.png"></li>
				<li><img src="./images/doodle/mei.png"></li>
				<li><img src="./images/doodle/mun.png"></li>
				<li><img src="./images/doodle/paul.png"></li>
				<li><img src="./images/doodle/eguchi.png"></li>
				<li><img src="./images/doodle/takeda.gif"></li>
			</ul>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
