<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">	
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<div class="header-form">
			<div class="form js-form">
				<input class="form-item input js-input" type="text" list="words">
				<img class="form-item icon" src="./images/search.png" alt="">
			</div>
			<% include _search-words %>
		</div>
		<% include _header-nav %>
	</header>
	<main class="searched">
		<div>
			<ul class="search-type">
				<li><a href="./s.html">すべて</a></li>
				<li class="active"><a href="./images.html">画像</a></li>
				<li><a href="https://www.google.co.jp/maps/place/%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E7%AB%8B%E5%A4%A7%E5%AD%A6+%E5%8C%97%E5%8D%83%E7%A8%AE%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9/@35.1815549,136.9456484,17z/data=!3m1!4b1!4m5!3m4!1s0x6003705a45b7e0cd:0xcea9a0e7712b9848!8m2!3d35.1815505!4d136.9478424" target="_blank">地図</a></li>
				<li><a href="https://twitter.com/search?f=tweets&vertical=default&q=%23%E5%8D%93%E5%B1%952016&src=typd" target="_blank">#ニュース</a></li>
			</ul>
			<div class="btn setting-btn">※</div>
		</div>
		<ul class="photos js-width-fit flex-images">
			<li class="item" data-w="285" data-h="234"><img src="./images/photos/1.png"></li>
			<li class="item" data-w="477" data-h="308"><img src="./images/photos/2.png"></li>
			<li class="item" data-w="297" data-h="198"><img src="./images/photos/3.png"></li>
			<li class="item" data-w="327" data-h="218"><img src="./images/photos/4.png"></li>
			<li class="item" data-w="319" data-h="180"><img src="./images/photos/7.png"></li>
			<li class="item" data-w="497" data-h="324"><img src="./images/photos/6.png"></li>
			<li class="item" data-w="319" data-h="180"><img src="./images/photos/7.png"></li>
			<li class="item" data-w="285" data-h="234"><img src="./images/photos/1.png"></li>
			<li class="item" data-w="477" data-h="308"><img src="./images/photos/2.png"></li>
			<li class="item" data-w="297" data-h="198"><img src="./images/photos/3.png"></li>
			<li class="item" data-w="301" data-h="370"><img src="./images/photos/3.png"></li>
			<li class="item" data-w="497" data-h="324"><img src="./images/photos/6.png"></li>
			<li class="item" data-w="319" data-h="180"><img src="./images/photos/7.png"></li>
			<li class="item" data-w="497" data-h="324"><img src="./images/photos/6.png"></li>
			<li class="item" data-w="319" data-h="180"><img src="./images/photos/7.png"></li>
			<li class="item" data-w="285" data-h="234"><img src="./images/photos/1.png"></li>
			<li class="item" data-w="477" data-h="308"><img src="./images/photos/2.png"></li>
			<li class="item" data-w="297" data-h="198"><img src="./images/photos/3.png"></li>
			<li class="item" data-w="327" data-h="218"><img src="./images/photos/4.png"></li>
			<li class="item" data-w="301" data-h="370"><img src="./images/photos/5.png"></li>
			<li class="item" data-w="497" data-h="324"><img src="./images/photos/6.png"></li>
			<li class="item" data-w="319" data-h="180"><img src="./images/photos/7.png"></li>
		</ul>
	</main>
	<% include _s-footer %>
	<% include _script %>
	<script src="./js/s.js"></script>
	<script src="./plugins/jquery.flex-images.min.js"></script>
	<script>
		$('.flex-images').flexImages({rowHeight: 200});
	</script>
</body>
</html>
