<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<main class="main">
<!-- 		<section class="mv" id="js-mv">
			<h1 class="logo" id="logo"></h1>
		</section> -->
		<section class="contents">
			<p class="wanted" id="js-typeAnime">Wanted Doodle members!!</p>
			<p class="wanted-jp">Webクリエイター募集</p>
		</section>
	</main>
	<footer>
		<a href="https://github.com/doodle-taku" target="_blank">GitHub</a>
		<p>&copy; 2016年度卓展 Doodle.</p>
	</footer>
	<% include _script %>
</body>
</html>
