<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <main class="main">
    <div class="grid">
      <!-- Doodle -->
      <div class="grid-item js-fadein doodle">
        <a href="./doodle.html" target="_blank">
          <h3 class="member-name">doodle</h3>
        </a>
      </div>
        <!-- Member -->
      <div class="member js-random">
        <div class="grid-item member-item matsumoto js-fadein js-randomList">
          <a href="./matsumoto.html" target="_blank">
            <h3 class="member-name">matsumoto</h3>
          </a>
        </div>
        <div class="grid-item member-item takeda js-fadein js-randomList">
          <a href="./takeda.html" target="_blank">
            <h3 class="member-name">takeda</h3>
          </a>
        </div>
        <div class="grid-item member-item ikebe js-fadein js-randomList">
          <a href="./ikebe.html" target="_blank">
            <h3 class="member-name">ikebe</h3>
          </a>
        </div>
        <div class="grid-item member-item ito js-fadein js-randomList">
          <a href="./ito.html" target="_blank">
            <h3 class="member-name">ito</h3>
          </a>
        </div>
        <div class="grid-item member-item kato js-fadein js-randomList">
          <a href="./kato.html" target="_blank">
            <h3 class="member-name">kato</h3>
          </a>
        </div>
        <div class="grid-item member-item ohashi js-fadein js-randomList">
          <a href="./ohashi.html" target="_blank">
            <h3 class="member-name">ohashi</h3>
          </a>
        </div>
        <div class="grid-item member-item hara js-fadein js-randomList">
          <a href="./hara.html" target="_blank">
            <h3 class="member-name">hara</h3>
          </a>
        </div>
        <div class="grid-item member-item eguchi js-fadein js-randomList">
          <a href="./eguchi.html" target="_blank">
            <h3 class="member-name">eguchi</h3>
          </a>
        </div>
        <div class="grid-item member-item ueda js-fadein js-randomList">
          <a href="./ueda.html" target="_blank">
            <h3 class="member-name">ueda</h3>
          </a>
        </div>
      </div>

      <!-- about TAKUTEN -->
      <div class="grid-item js-fadein takuten">
        <a href="http://taku-ten.com" target="_blank">
          <h3 class="member-name">About 卓展</h3>
        </a>
      </div>

      <!-- Footer -->
      <div class="grid-item js-fadein footer">
          <h3 class="member-name"></h3>
          <small>&copy; 2016 Doodle.</small>
      </div>
    </div>
  </main>
  <% include _pageFade %>
  <% include _script %>
</body>
</html>