<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<main class="main">
		<section class="mv">
			<h1 class="logo" id="logo"></h1>
		</section>
		<div class="contents" id="js-contents">
			<p class="wanted">Wanted Doodle Members.</p>
			<h2 class="wanted-jp">Webクリエイター募集</h2>
			<section class="about">
				<p>
					Doodleでは、Googleの遊び心を大切に取り入れ、Web制作を行います。<br>
					Webアプリケーション／Webサイト等の制限はなし。
				</p>
			</section>
			<section class="question">
				<p>わからないこと、なんでも聞いてください。</p>
				<p>ついていけるか分からないとか、何でも相談に乗ります！</p>
			</section>
		</div>
	</main>
	<footer>
		<a href="https://github.com/doodle-taku" target="_blank">GitHub</a>
		<p>&copy; 2016年度卓展 Doodle.</p>
	</footer>
	<% include _script %>
</body>
</html>
