<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<main class="main">
		<section class="mv">
			
		</section>
		<div class="contents" id="js-contents">
			<div class="js-contents-bg"></div>
			<h3 class="wanted title js-fadein">Wanted Doodle Members.</h3>
			<h2 class="wanted-jp js-type">Web<del>  エンジニア   </del><del>  デザイナー   </del>クリエイター募集</h2>
			<p class="text js-fadein">
				Doodleでは、Googleの遊び心を、大切にし取り入れたWeb制作を行う卓です。Web制作といっても、Webアプリケーション／Webサイトどちらかなどの形は問いません。Googleの遊び心を理解でき、共感できる人が集まり共にお気に入りの作品となる何かを制作していければ良いなと思っています。Webは、芸工の中でも専門性の高い分野ですが、未経験者・初心者の方でもそれなりに多くの時間を割いてもらえれば、夏の卓展にはそれなりに作れるようになると思います。もちろん個人差はありますが。経験者も、さらにスキルアップを図るもよし、後輩に優しく指導してあげるのもよし。そういう優しい雰囲気の卓にしたいです。制作の仕方は特に決めておらず、気の合う仲間がいればチームで取り組んでも良いし、もちろん個人で取り組んでも構いません。気をつけて欲しいのは、チームでやったからといって必ずしも一人当たりの負担が減ることにはならないということ。実際問題、経験的には負担が増えることの方が多い気がします。それでも、チームで色々話し合いながらひとつのものを作りあげることができたときはとても楽しく、感動します。逆に個人で取り組む良さもこれまた多くて、マイペースに進めることができるし、なにより自分のやりたいことをとことん突き詰めることができる。コミュニケーションの時間が減る分、それを制作及びブラッシュアップの時間にあてることもできます。<br>何か気になることや、「ついていけるか不安・・」などの相談でも、なんでも聞きにきてください。
			</p>
			<h3 class="title js-fadein">告知で用いたスライド資料</h3>
			<iframe class="js-fadein slide" src="//www.slideshare.net/slideshow/embed_code/key/uJe7M99oXUIoHk" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
		</div>
	</main>
	<footer class="js-fadein">
		<p>&copy; 2016 Doodle.</p>
	</footer>
	<% include _script %>
</body>
</html>
