<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <header class="header clearfix">
    <nav>
      <div class="gmail"><a href="">Gmail</a></div>
      <div class="image-refer"><a href="">画像</a></div>
      <div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
      <div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
      <div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
    </nav>
  </header>
  <main class="main">
    <div class="main-inner">
      <img class="logo" src="./images/doodle.png" alt="">
      <div class="form clearfix">
        <input class="form-item input" type="text" list="words">
        <img class="form-item icon" src="./images/search.png" alt="">
      </div>
      <ul class="words">
        <li>いけべまさあき</li>
        <li>せんむ</li>
        <li>さけるチーズ</li>
        <li>いけべまさあき</li>
        <li>せんむ</li>
        <li>さけるチーズ</li>
      </ul>
    </div>
  </main>
  <footer class="footer clearfix">
    <ul class="footer-menu left-menu">
      <li>広告</li>
      <li>ビジネス</li>
      <li>Googleについて</li>
    </ul>
    <ul class="footer-menu right-menu">
      <li>プライバシー</li>
      <li>規約</li>
      <li>設定</li>
    </ul>
  </footer>
  <% include _script %>
</body>
</html>
