<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="header clearfix">
		<nav>
			<div class="gmail"><a href="">Dmail</a></div>
			<div class="image-refer"><a href="">画像</a></div>
			<div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
			<div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
			<div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
		</nav>
	</header>
	<main class="first-view">
		<img class="logo" src="./images/doodle.png" alt="">
		<div class="form clearfix">
			<input class="form-item input" type="text" list="words">
			<img class="form-item icon" src="./images/search.png" alt="">
		</div>
		<div class="words">
			<ul class="word-list">
				<li>いけべまさあき</li>
				<li>せんむ</li>
				<li>さけるチーズ</li>
				<li>いけべまさあき</li>
				<li>せんむ</li>
				<li>さけるチーズ</li>
			</ul>
		</div>
		<div class="centering btn-wrapper">
			<div class="btn search-btn">Doodle 検索</div>
			<div class="btn doodle-btn">I'm Feeling Lucky</div>
		</div>
	</main>
	<footer class="footer clearfix">
		<ul class="footer-menu left-menu">
			<li><a href="">広告</a></li>
			<li><a href="">ビジネス</a></li>
			<li><a href="">Doodleについて</a></li>
		</ul>
		<ul class="footer-menu right-menu">
			<li><a href="">プライバシー</a></li>
			<li><a href="">規約</a></li>
			<li><a href="">設定</a></li>
		</ul>
	</footer>
	<% include _script %>
</body>
</html>
