<!--
____________________________________________________
____________________________________________________
_DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD_
_DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD_
_DDDDDlllllllllllllllllllllDDDDDDDDDDDDDDDDDDDDDDDD_
_DDDDDlllllllllllllllllllllDDDDDDDDDDDDDDDDDDDDDDDD_
__DDDDDllllllllllllllllllllDDDDDDDDDDDDDDDDDDDDDDD__
__DDDDDllllllllllllllllllllDDDDDDDDDDDDDDDDDDDDDD___
__DDDDDllllllllll______ld________lDDDDDDDDDDDDDDD___
__DDDDDllllllllll______lddd________lDDDDDDDDDDDDD___
__DDDDDllllllllll______ldddDDD______lDDDDDDDDDDDD___
__DDDDDllllllllll______ldddDDDD______lDDDDDDDDDDD___
__DDDDDllllllllll______ldddDDDDD______lDDDDDDDDDD___
___DDDDllllllllll______ldddDDDDD_______lDDDDDDDDD___
___DDDDllllllllll______ldddDDDDDD______lDDDDDDDDD___
___DDDDllllllllll______ldddDDDDDD______lDDDDDDDD____
___DDDDllllllllll______ldddDDDDDD______lDDDDDDDD____
___DDDDllllllllll______ldddDDDDDD______lDDDDDDDD____
___DDDDllllllllll______ldddDDDDD_______lDDDDDDDD____
____DDDDlllllllll______ldddDDDDD______lDDDDDDDDD____
____DDDDlllllllll______ldddDDDD______lDDDDDDDDDD____
____DDDDlllllllll______ldddDD_______lDDDDDDDDDD_____
____DDDDlllllllll______lddd________lDDDDDDDDDDD_____
____DDDDDllllllll______ld________lDDDDDDDDDDDDD_____
_____DDDDllllllllllllllllllDDDDDDDDDDDDDDDDDDDD_____
_____DDDDDlllllllllllllllllDDDDDDDDDDDDDDDDDDD______
_____DDDDDDllllllllllllllllDDDDDDDDDDDDDDDDDDD______
______DDDDDDDDDDlllllllllllDDDDDDDDDDDDDDDDDD_______
____________DDDDDDDDDDDllllDDDDDDDDDDDDD____________
___________________DDDDDDDDDDDDDD___________________
_______________________DDDDD________________________
____________________________________________________
-->

<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="index clearfix">
		<% include _header-nav %>
	</header>
	<main class="index">
		<img class="main-logo" src="./images/doodle/doodle.png">
		<div class="form centering js-form clearfix">
			<input class="form-item input js-input" type="text" list="words" value="">
			<img class="form-item icon" src="./images/search.png">
		</div>
		<% include _search-words %>
		<div class="centering btn-wrapper">
			<div class="btn search-btn js-searchBtn">Doodle 検索</div>
			<div class="btn doodle-btn"><a href="https://www.google.com/doodles">I'm Feeling Lucky</a></div>
		</div>
	</main>
	<footer class="footer index clearfix">
		<ul class="footer-menu left-menu">
			<li><a href="./page.html">このサイトについて</a></li>
			<li><a href="./doodle.html">Doodleについて</a></li>
		</ul>
		<ul class="footer-menu right-menu">
			<li><a href="http://taku-ten.com" target="_blank">卓展</a></li>
			<li><a href="./member.html">メンバー</a></li>
			<li><a href="./ad.html">広告</a></li>
		</ul>
	</footer>
	<% include _script %>
	<script src="./js/index.js"></script>
</body>
</html>
