<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <main class="main">
    <ul class="member">
      <li class="member-list doodle">
        <a href="doodle.html">
          <h3 class="member-list-name">Doodle</h3>
        </a>
      </li>
      <li class="member-list ito">
        <a href="ito.html">
          <h3 class="member-list-name">専務</h3>
        </a>
      </li>
      <li class="member-list ikebe">
        <a href="ikebe.html">
          <h3 class="member-list-name">池辺</h3>
        </a>
      </li>
      <li class="member-list takeda">
        <a href="takeda.html">
          <h3 class="member-list-name">武田</h3>
        </a>
      </li>
      <li class="member-list kato">
        <a href="kato.html">
          <h3 class="member-list-name">かとう</h3>
        </a>
      </li>
      <li class="member-list hara">
        <a href="hara.html">
          <h3 class="member-list-name">はら</h3>
        </a>
      </li>
      <li class="member-list ohashi">
        <a href="ohashi.html">
          <h3 class="member-list-name">大橋</h3>
        </a>
      </li>
      <li class="member-list ueda">
        <a href="ueda.html">
          <h3 class="member-list-name">上田</h3>
        </a>
      </li>
      <li class="member-list eguchi">
        <a href="eguchi.html">
          <h3 class="member-list-name">江口</h3>
        </a>
      </li>
      <li class="member-list takuten">
        <a href="takuten.html">
          <h3 class="member-list-name">卓展とは</h3>
        </a>
      </li>
      <li class="member-list takuten">
        <a href="takuten.html">
          <h3 class="member-list-name">卓展とは</h3>
        </a>
      </li>
      <li class="member-list takuten">
        <a href="takuten.html">
          <h3 class="member-list-name">卓展とは</h3>
        </a>
      </li>
    </ul>
  </main>
  <footer class="footer">
    <ul>
      <li>Doodleについて</li>
      <li>卓展について</li>
      <li>お問い合わせ</li>
    </ul>
    <p>&copy; 2016 Doodle卓.</p>
  </footer>
  <% include _script %>
</body>
</html>
