<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <main>
    <header>
      
    </header>
    <div>
      <form action="">
        
      </form>
    </div>
  </main>
  <% include _script %>
</body>
</html>