<!DOCTYPE html>
<html lang="jp">
<head>
  <% include _head %>
</head>
<body>
  <div>
    <header class="header">
      <div class="gmail"><a href="">Gmail</a></div>
      <div class="image-refer"><a href="">画像</a></div>
      <div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
      <div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
      <div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
    </header>
    <main class="main">
      <div>
        
      </div>
    </main>    
  </div>
  <% include _script %>
</body>
</html>
