<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<main class="main">
		<section class="mv">
			<% include svg/_mv-logo %>
		</section>
		<div class="contents" id="js-contents">
			<h3 class="wanted">Wanted Doodle Members.</h3>
			<h2 class="wanted-jp js-type">Web<del>エンジニア</del><del>デザイナー</del>クリエイター募集</h2>
			<p class="text">
				Doodleでは、Googleの遊び心を、大切にし取り入れたWeb制作を行う卓です。Web制作といっても、Webアプリケーション／Webサイトどちらかなどの形は問いません。Googleの遊び心を理解でき、共感できる人が集まり共にお気に入りの作品となる何かを制作していければ良いなと思っています。Webは中でも専門的な分野ですが、未経験者・初心者でもそれなりに多くの時間を割いてもらえれば、夏にはそれなりに作れるようになると思います。もちろん個人差はありますが。経験者も、さらにスキルアップを図るもよし、後輩に優しく指導してあげるのもよし。そういう優しい雰囲気の卓にしたいです。制作の仕方は特に決めておらず、気の合う仲間がいればチームで取り組んでも良いし、個人で取り組んでも構いません。気をつけて欲しいのは、チームでやったからといって必ずしも一人当たりの負担が減ることにはならない、ということ。実際問題、経験的には負担が増えることの方が多い気がします。それでもチームで色々話し合いながらひとつのものを作りあげることができたときは感動ですね。逆に個人で取り組む良さもこれまたすごくて、マイペースに進めることができるし、なにより自分のやりたいことをとことん突き詰めることができる。コミュニケーションの時間が減る分、それを制作及びブラッシュアップにあてることもできます。
			</p>
		</div>
	</main>
	<footer>
		<a href="https://github.com/doodle-taku" target="_blank">GitHub</a>
		<p>&copy; 2016年度卓展 Doodle.</p>
	</footer>
	<% include _script %>
</body>
</html>
