<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<% include _header-nav %>
	</header>
	<main class="kid member">
		<div class="mv"></div>
		<section class="content">
			<h2>Doodle卓のメンバー</h2>
			<ul class="members">
				<li class="boss">
					<img class="portrait" src="./images/kid/member/rider.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 4年</p>
						<p class="name">Kazuma Matsumoto／ライダー</p>
						<a class="link" href="" target="_blank">http://mtmtkzm.com</a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/takeda.png">
					<div class="info">
						<p class="grade">産業イノベーションデザイン学科 4年</p>
						<p class="name">TAKEDA YUKIHIRO</p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/ito.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 3年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/ikebe.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 3年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/cheese.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 2年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/mei.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 2年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/mun.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 2年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/eguchi.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 1年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/paul.png">
					<div class="info">
						<p class="grade">情報環境デザイン学科 1年</p>
						<p class="name"></p>
						<a class="link" href="" target="_blank"></a>
					</div>
				</li>
			</ul>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
