<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<a class="header-logo" href="/"></a>
		<% include _header-nav %>
	</header>
	<main class="kid member">
		<div class="mv"></div>
		<section class="content">
			<h2>Doodle卓のメンバー</h2>
			<ul class="members">
				<li class="boss">
					<img class="portrait" src="./images/kid/member/rider.png">
					<div class="info">
						<p class="grade">4年（卓長）</p>
						<p class="name">松本和馬 ／ ライダー</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/takeda.png">
					<div class="info">
						<p class="grade">4年</p>
						<p class="name">武田侑大 ／ ラ王</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/ito.png">
					<div class="info">
						<p class="grade">3年</p>
						<p class="name">伊藤右貴 ／ 専務</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/ikebe.png">
					<div class="info">
						<p class="grade">3年</p>
						<p class="name">池辺将明 ／ トラベル</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/cheese.png">
					<div class="info">
						<p class="grade">2年</p>
						<p class="name">加藤優奈 ／ ちーず</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/mei.png">
					<div class="info">
						<p class="grade">2年</p>
						<p class="name">原有理沙 ／ めい</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/mun.png">
					<div class="info">
						<p class="grade">2年</p>
						<p class="name">大橋寛加 ／ むん</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/eguchi.png">
					<div class="info">
						<p class="grade">1年</p>
						<p class="name">江口友章 ／（ありません。）</p>
					</div>
				</li>
				<li>
					<img class="portrait" src="./images/kid/member/paul.png">
					<div class="info">
						<p class="grade">1年</p>
						<p class="name">上田すなお ／ ぽーる</p>
					</div>
				</li>
			</ul>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
