<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<a class="header-logo" href="/"></a>
		<% include _header-nav %>
	</header>
	<main class="kid page">
		<div class="mv"></div>
		<section class="content">
			<h2>このサイトについて</h2>
			<p>
				当サイトは、名古屋市立大学芸術工学部で開催される卓展2016のWeb卓「Doodle」のメンバーの作品をまとめたポートフォリオサイトです。
			</p>
			<h3>Doodle卓</h3>
			<p>
				Doodle卓では、卓長1人と1~4年生8人の計9人で活動しています。遊びごころを大切に取り入れたWeb制作というテーマで各々が個人制作・チーム制作を行っています。
			</p>
			<p>
				<a href="./doodle.html">Doodle卓の詳細についてはこちらをご覧ください。</a>
			</p>
			<h3>制作</h3>
			<p>また、当サイトは、Doodleの卓長ライダーが制作・運用しています。</p>
			<h2>お問い合わせ</h2>
			<p>
				Doodle卓や当サイト、卓展2016についてのお問い合わせ等は、以下のメールアドレス宛にお願いします。
			</p>
			<a class="mail" href="mailto:hello@mtmtkzm.com">hello@mtmtkzm.com</a>（お使いのメールクライアントが起動します）
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
</body>
</html>
