<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">	
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<nav class="header-nav">
			<div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
			<div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
			<div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
		</nav>
	</header>
	<main class="kid">
		<div class="mv"></div>
		<section class="content">
			<h2>このサイトについて</h2>
			<p>このサイトは、名古屋市立大学芸術工学部で開催される卓展2016のWeb卓、「Doodle」の作品まとめサイトです。</p>
			<p>Doodleでは、卓長1人と1~4年生8人の計9人で活動しています。遊びごころを大切に取り入れたWeb制作というテーマで各々が個人制作・チーム制作を行っており、このサイトではその作品の紹介をしています。</p>
			<p><a href="./doodle.html">その他、Doodleの詳細についてはこちらのページをご覧ください。</a></p>
		</section>


	</main>
	<% include _s-footer %>
	<% include _script %>
	<script src="./js/s.js"></script>
	<script src="./plugins/jquery.flex-images.min.js"></script>
	<script>
		$('.flex-images').flexImages({rowHeight: 200});
	</script>
</body>
</html>
