<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">	
		<a class="header-logo" href="/"></a>
		<div class="header-form">
			<div class="form js-form">
				<div class="form-item input js-input"></div>
				<img class="form-item icon" src="./images/search.png" alt="">
			</div>
			<% include _search-words %>
		</div>
		<% include _header-nav %>
	</header>
	<main class="searched">
		<div>
			<ul class="search-type">
				<li class="active"><a href="./s.html">すべて</a></li>
				<li><a href="./images.html">画像</a></li>
				<li><a href="https://www.google.co.jp/maps/place/%E5%90%8D%E5%8F%A4%E5%B1%8B%E5%B8%82%E7%AB%8B%E5%A4%A7%E5%AD%A6+%E5%8C%97%E5%8D%83%E7%A8%AE%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9/@35.1815549,136.9456484,17z/data=!3m1!4b1!4m5!3m4!1s0x6003705a45b7e0cd:0xcea9a0e7712b9848!8m2!3d35.1815505!4d136.9478424" target="_blank">地図</a></li>
				<li><a href="https://twitter.com/search?f=tweets&vertical=default&q=%23%E5%8D%93%E5%B1%952016&src=typd" target="_blank">#ニュース</a></li>
			</ul>
		</div>
		<section class="searched-list">
			<div class="js-article-list article-list">
				<article class="article"  data-word="es">
					<h2><a href="http://doooodle.org/battle/" target="_blank">因縁の対決</a></h2>
					<cite>http://doooodle.org/battle/</cite>
					<q>名古屋市立大学芸術工学部の学生にる作品展示会「卓展」への提出作品。ウェブサイト制作を目的としたプロジェクト”Doodle"で制作したものです。本サイトは因縁の対決に決着をつけるサイトです。みなさん楽しんでください！</q>
				</article>
				<div class="article image-search">
					<h2><a href="./images.html">卓展2016 Doodle の画像検索結果</a></h2>
					<ul>
						<li><a href="./images.html"><img src="./images/photos/1.jpg"></a></li>
						<li><a href="./images.html"><img src="./images/photos/3.jpg"></a></li>
						<li><a href="./images.html"><img src="./images/photos/5.jpg"></a></li>
						<li><a href="./images.html"><img src="./images/photos/7.jpg"></a></li>
						<li><a href="./images.html"><img src="./images/photos/9.jpg"></a></li>
						<li><a href="./images.html"><img src="./images/photos/11.jpg"></a></li>
					</ul>
				</div>
				<article class="article" data-word="mei">
					<h2><a href="http://arisahara.net/卓2016/" target="_blank">mei's PhotoGallery</a></h2>
					<cite>http://arisahara.net/卓2016/</cite>
					<q>私は写真を撮ることが好きなので、自分の一眼で撮った写真を載せるフォトギャラリーサイトを作りました。写真の技術はまだまだですが、いろんな写真を載せているので皆さんに見ていただけたら嬉しいです。</q>
				</article>
				<article class="article" data-word="cheese">
					<h2><a href="http://cheese-rank.net" target="_blank">ちーずランキング！</a></h2>
					<cite>http://cheese-rank.net</cite>
					<q>200人以上の方に好きなチーズを答えるアンケートに答えていただき、ランキングを発表するサイトを作成しました。手書き感のあるサイトは初の試みで至らないところもあると思いますが、楽しんでいただけると嬉しいです！</q>
				</article>
				<article class="article" data-word="ikebe">
					<h2><a href="http://ikebe2032.com" target="_blank">いけべのportfolio</a></h2>
					<cite>http://ikebe2032.com</cite>
					<q>ポートフォリオサイトです。ポートフォリオの作品自体は少ないですが、サイトは見やすく、楽しんでもらえるものになったんじゃないかなと思います。できればたくさんの人に見て触ってもらえたら嬉しいです。</q>
				</article>
				<article class="article" data-word="senmu">
					<h2><a href="http://sato-yuki.net" target="_blank">UR_RIGHT_LAB.</a></h2>
					<cite>http://sato-yuki.net</cite>
					<q>UR_RIGHT_LAB.は伊藤右貴の研究を通じて彼の就職活動の支援を行う研究所です。研究員やこれまでの研究成果、採用情報などを掲載しています。</q>
				</article>
 				<article class="article" data-word="mun">
					<h2><a href="http://hasiko.net" target="_blank">探検UFO</a></h2>
					<cite>http://hasiko.net</cite>
					<q>UFOに乗った気分になって、三つの世界を探検するサイトです。触って楽しめるような作品にしたいと思い、マウス操作などアクションで動くようにしました。ぜひ触ってみてください！</q>
				</article>
				<article class="article" data-word="takeda">
					<h2><a href="http://tkyk6001sns.com" target="_blank">TAKEDA SNS</a></h2>
					<cite>http://tkyk6001sns.com</cite>
					<q>UFOに乗った気分になって、三つの世界を探検するサイトです。触って楽しめるような作品にしたいと思い、マウス操作などアクションで動くようにしました。ぜひ触ってみてください！</q>
				</article>
			</div>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
	<script src="./js/s.js"></script>
</body>
</html>
