<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">	
		<a class="header-logo" href="/"><img src="./images/header/doodle-searched.png"></a>
		<div class="header-form">
			<div class="form js-form">
				<input class="form-item input js-input" type="text" list="words">
				<img class="form-item icon" src="./images/search.png" alt="">
			</div>
			<% include _search-words %>
		</div>
		<% include _header-nav %>
	</header>
	<main class="searched">
		<div> 
			<ul class="search-type">
				<li class="active"><a href="./s.html">すべて</a></li>
				<li><a href="./images.html">画像</a></li>
				<li><a href="">地図</a></li>
				<li><a href="">ニュース</a></li>
			</ul>
			<div class="btn setting-btn">※</div>
		</div>
		<section class="searched-list">
			<span class="search-speed">約 667,000,000 件中 1 ページ目（0.56 秒）</span>
			<div class="js-article-list article-list">
				<article data-word="es">
					<h2><a href="">えぐちともあき＆うえだすなお</a></h2>
					<cite>http://doooodle.org/eguchisunao</cite>
					<q class="forsp">これはえぐちと上田のの共同作品ですよこれはえぐちと上田のの共同作品ですよこれはえぐちと上田のの共同作品ですよこれはえぐちと上田のの共同作品ですよこれはえぐちと上田のの共同作品ですよこれはえぐちと上田のの共同作品ですよこれは</q>
				</article>
				<article data-word="mei">
					<h2><a href="">めいの写真ギャラリーサイト</a></h2>
					<cite>http://doooodle.org/cheese</cite>
					<q>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</q>
				</article>
				<article data-word="cheese">
					<h2><a href="">さけるチーズのチーズ紹介</a></h2>
					<cite>http://doooodle.org/cheese</cite>
					<q>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</q>
				</article>
				<article data-word="ikebe">
					<h2><a href="">いけべまさあき</a></h2>
					<cite>http://doooodle.org/cheese</cite>
					<q>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</q>
				</article>
				<article data-word="senmu">
					<h2><a href="">せんむのポートフォリオ</a></h2>
					<cite>http://mtmtkzm.com</cite>
					<q>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</q>
				</article>
				<article data-word="mun">
					<h2><a href="">むんの宇宙旅行</a></h2>
					<cite>http://mtmtkzm.com</cite>
					<q>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</q>
				</article>
				<article data-word="takeda">
					<h2><a href="">たけだのポートフォリオサイト</a></h2>
					<cite>http://mtmtkzm.com</cite>
					<q>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</q>
				</article>
			</div>
		</section>
	</main>
	<% include _s-footer %>
	<% include _script %>
	<script src="./js/s.js"></script>
</body>
</html>
