<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<header class="searched clearfix">
		<div class="header-form">
			<img class="siding header-logo" src="./images/header/doodle-searched.png" alt="" class="logo">
			<div class="form siding clearfix">
				<input class="form-item input" type="text" list="words">
				<img class="form-item icon" src="./images/search.png" alt="">
			</div>
		</div>
		<nav class="header-nav">
			<div class="application"><a href=""><img src="./images/header/menu.png" alt=""></a></div>
			<div class="notification"><a href=""><img src="./images/header/bell.png" alt=""></a></div>
			<div class="portrait"><a href=""><img src="./images/header/rider.jpg" alt=""></a></div>
		</nav>
	</header>
	<main>
		<div>
			<ul class="search-type">
				<li class="active">すべて</li>
				<li>画像</li>
				<li>動画</li>
				<li>地図</li>
				<li>ニュース</li>
			</ul>
			<div class="btn setting-btn">※</div>

		</div>
		<section class="searched-list">
			<span class="search-speed">約 667,000,000 件中 1 ページ目（0.56 秒）</span>
			<article>
				<h2><a href="">ここに作品タイトル</a></h2>
				<cite>http://mtmtkzm.com</cite>
				<p>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル2</a></h2>
				<cite>http://doooodle.org/cheese</cite>
				<p>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル</a></h2>
				<cite>http://mtmtkzm.com</cite>
				<p>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル2</a></h2>
				<cite>http://doooodle.org/cheese</cite>
				<p>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル</a></h2>
				<cite>http://mtmtkzm.com</cite>
				<p>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル2</a></h2>
				<cite>http://doooodle.org/cheese</cite>
				<p>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル</a></h2>
				<cite>http://mtmtkzm.com</cite>
				<p>あ、アは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第1段（あ行あ段）に位置する。 概要. 「あ」の筆順. 「ア」の筆順. 現代標準語の音韻: 五母音の一つ /a/。口を大きく開いて発音する母音。後舌（舌の後ろの方を ...</p>
			</article>
			<article>
				<h2><a href="">ここに作品タイトル2</a></h2>
				<cite>http://doooodle.org/cheese</cite>
				<p>い、イは、日本語の音節の1つであり、仮名の1つである。1モーラを形成する。五十音図において第1行第2段（あ行い段）に位置する。現代仮名遣いでは第8行第2段（や行い段）を空欄としない場合、そこに再出する。現代仮名遣いで使用しない第10行第2段（わ行 ...</p>
			</article>
		</section>
	</main>
	<footer class="footer searched clearfix">
		<ul class="footer-menu left-menu">
			<li><a href="">広告</a></li>
			<li><a href="">ビジネス</a></li>
			<li><a href="">Doodleについて</a></li>
		</ul>
		<ul class="footer-menu right-menu">
			<li><a href="">プライバシー</a></li>
			<li><a href="">規約</a></li>
			<li><a href="">設定</a></li>
		</ul>
	</footer>
	<% include _script %>
</body>
</html>
